<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("~/Views/Includes/requiredStyles.cshtml")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
@Html.Partial("~/Views/Includes/requiredScripts.cshtml")
